@charset 'utf-8';

.z-table-body,
.z-table-header {
	overflow: hidden;
}
.z-table-body-inner,
.z-tb-hd-tr {
	font-size: 0;
	white-space: nowrap;
}
.z-tb-hd-tr {
	border-bottom: 1px solid #eee;
}
.z-table-td {
	display: inline-block;
	padding: 3px 5px;
	font-size: 12px;
	line-height: 22px;
	border-right: 1px solid #eee;
	box-sizing: border-box;
}

.z-table-body-inner {
	width: 100%;
	height: 100%;
	overflow: auto;
}

.z-table-mod {
	position: relative;
}
.z-table-body {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 20px;
}